---
import DesignHeader from '@/components/DesignHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<main class="wrapper">
		<DesignHeader title='Web Design'>
			We build websites that serve as powerful marketing tools and bring memorable brand experiences.
		</DesignHeader>
	</main>
</Layout>

