---
import {Button} from "../ui/button";
import {Input} from "../ui/input";
import {Textarea} from "../ui/textarea";
---


<form action="" class="flex flex-col gap-6 w-full">
    <Input type="text" name="name" id="name" placeholder="Name"/>
    <Input type="email" name="email" id="email" placeholder="Email Address"/>
    <Input type="text" name="phone" id="phone" placeholder="Phone"/>
    <Textarea name="message" id="message" cols={40} rows={10} placeholder="Your Message"></Textarea>
    <Button variant={"dark"} type="submit" className="self-end mt-4">
        submit
    </Button>


</form>