---
import FeatureCard from "./FeatureCard.astro";

---


<section class="px-6 tablet:px-0 grid gap-6 desktop:grid-cols-2">
    <FeatureCard id="web-design" title="web design"/>
    <FeatureCard id="app-design" title="app design"/>
    <FeatureCard id="graphic-design" title="graphic design"/>

</section>

