---
import ProjectCard from "./ProjectCard.astro";
import Express from "../assets/web-design/desktop/image-express.jpg";
import Transfer from "../assets/web-design/desktop/image-transfer.jpg";
import Photon from "../assets/web-design/desktop/image-photon.jpg";
import Builder from "../assets/web-design/desktop/image-builder.jpg";
import Blogr from "../assets/web-design/desktop/image-blogr.jpg";
import Camp from "../assets/web-design/desktop/image-camp.jpg";
---

<section class="px-6 tablet:px-0 flex flex-col gap-10 tablet:gap-8 desktop:grid desktop:grid-cols-3 desktop:gap-[1.875rem] py-24 tablet:py-[7.5rem] desktop:py-40 relative">
    <slot/>
</section>